:root {
    --cor-verde-barra: rgba(26, 61, 27, 0.8);
    --cor-verde: #1a3d1b;
    --cor-cinza: #333;
    --cor-branca-barra: rgba(255,255,255, 0.7);
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar.navbar-light {
    background-color: var(--cor-verde-barra) !important;
    position: fixed; /* Mantém a barra fixa no topo da tela */
    width: 100%; /* Largura total da tela */
    z-index: 1000; /* Certifica de que está acima de outros elementos */
}


.nav-link:hover{
    color: var(--cor-branca-barra);
}

#barra{
    border-radius: 10px;
    justify-content: flex-end;
    padding-right: 10px;  
}

#barra a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding-right: 40px;
}

.logo {
    max-height: 50px; /* Tamanho da Logo na Nav */
    margin-right: 10px;
    padding-left: 30px;
}

.navbar-menu {
    margin-left: 30px; 
}

header button{
    margin-right: 30px;
}

#menu{
    background-image: url('../images/limao.jfif');
    height: 100vh;
}

@media (max-width: 1115px) {
    #menu img {
       padding-left: 30px; 
    }
    #barra a{
        padding-right: 5px;
    }
}

.central-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; 
    border: 2px solid #fff; 
    border-radius: 10px; 
    padding: 20px; 
}

.central-panel h1 {
    font-size: 3em; 
    font-family: Snell Roundhand, cursive;
}

#historia{
    background-color: var(--cor-verde);
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerHistoria{
    border: 2px solid #ffd700; /* cor dourada */
    padding: 20px; /* espaço interno */
    background-color: #ffffff; /* cor branca */
    margin: 20px;
    border-radius: 20px;
}

.textoBranco{
    margin-top: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: var(--cor-verde);
}

.centraliza{
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
}

.containerValores {
    border: 2px solid #ffd700; /* cor dourada */
    padding: 20px; /* espaço interno */
    background-color: var(--cor-verde); /* cor verde */
    color: white;
    text-decoration: none;
    margin: 60px;
    border-radius: 20px;
    max-height: 400px; 
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
}

.containerValores img {
    max-width: 100%; 
    height: auto; 
    align-self: center; 
    border-radius: 20px;
}

#empresas{
    background-color: var(--cor-verde);
    padding-top: 30px;
    padding-bottom: 30px;
}

.containerEmpresas{
    border: 2px solid #ffd700; /* cor dourada */
    padding: 20px; /* espaço interno */
    background-color: #ffffff; /* cor branca */
    margin: 20px;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;
}